{{#extends 'base'}}

{{#block "content"}}
<h1>Welcome</h1>
<div>
    <a href="/about-us">About Us</a>
</div>
<div>
    <a href="/contact-us">Contact Us</a>
</div>
<div>
    <a href="/products">Products</a>
</div>
<div>
    <a href="/users/login">Login</a>
</div>
{{/block}}

{{/extends}}