{{#extends 'base'}}

{{#block "content"}}
<h1>Login</h1>
<a href="/users/signup" class="btn btn-primary">Sign Up</a>
<form method="POST">
    {{{form}}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <input type="submit" class="btn btn-primary" value="Login">
</form>
{{/block}}

{{/extends}}